html, body, .container-fluid {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
  font-size: 2.3rem;
}

#game {
  background: green;
}

canvas {
  display: inline;
  max-width: 90%;
}

ul {
  list-style: none;
  padding: 0;
}

#chatbox-form {
  margin-top: -0.25rem;
}

#chatbox-messages {
    height: 350px;
    width: 330px;
    overflow-y: scroll;

    padding: 0.5rem;
    border-color: rgb(222, 226, 230);
    border-radius: .25rem;
    border: 1px solid;
}

#chatbox-messages li {
    margin-top: 0.5rem;
    padding-left: 1rem;
}

#username {
  width: 255px;
}

#message {
  width: 260px;
}

#scoreboard {
  text-align: center;
  margin-top: -13%;
}

#scoreboard h2 {
    font-size: 3rem;
}

#scoreboard li {
    font-size: 1.3rem;
}

.hide {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

/* 992px is the Bootstrap 'large' size */
@media (max-width: 992px) {
  h2 {
    font-size: 1.5rem;
  }

  #chatbox-div {
    display: none
  }
}
