html, body, .container-fluid {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
  font-size: 2.3rem;
}

#game {
  background: green;
}

canvas {
  display: inline;
  max-width: 90%;
}

ul {
  list-style: none
}

.hide {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

@media (max-width: 576px) {
  #chatbox-div {
    display: none
  }
}
