html, body, .container-fluid {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
  font-size: 2.3rem;
}

#game {
  background: green;
}

canvas {
  display: inline;
  max-width: 90%;
}

ul {
  list-style: none;
  padding: 0;
}

#scoreboard {
  text-align: center;
  margin-top: -13%;
}

#scoreboard h2 {
    font-size: 3rem;
}

#scoreboard li {
    font-size: 1.3rem;
}

.hide {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

@media (max-width: 576px) {
  #chatbox-div {
    display: none
  }

  #username {
    max-width: 70%
  }
}
